<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Here's Some {{pageTitle}} Information!</p>
    </body>
    {{!-- This injects the footer partial to this page template --}}
    {{> footer}}
</html>